# Data Science Tools and Ecosystem

Intro: In this notebook, Data Science Tools and Ecosystem are summarized.

## <p><strong>Author:</strong> Cordelro Paynes</p>

<strong>Objectives:</strong> 

1. List popular languages for Data Science 
2. List popular libraries for Data Science 
3. List popular tool for Data Science 
4. Write examples in Jupyter Notebooks

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

<table>
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>Jupyter Notebook</td>
</tr>

<tr>
<td>Jupyter Lab</td>
</tr>
    
<tr>
<td>JIBM Watson Studio Cloud</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
##This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [7]:
##This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335